*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

.todo-container {
  background-color: #2c3e50;
  border-radius: 10px;
  margin-top: 50px;
}

.todo-title {
  color: #f1c40f;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo-ux {
  background-color: #34495e;
  border-radius: 5px;
  margin: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input-btn {
  margin-bottom: 20px;
  display: flex;
}

.time {
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 5px 10px;
}

.time span {
  margin-right: 10px;
}

.hours, .minutes {
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  padding: 5px;
}

.hours:focus, .minutes:focus {
  outline: 0;
}


.todo-input {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: 5px;
  border:none;
  font-size: 18px;
  margin-right: 20px;
  padding: 5px 10px;
}

.todo-input:focus {
  outline: none;
}

.todo-add {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border-style: none;
  background-color: #ecf0f1;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}

.todo-add:hover {
  background-color: #bdc3c7;
}

.todo-add:focus {
  outline: 0;
}

.todo-canc {
  color: #e67e22;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 12px;
  top: 12px;
}

.todo-canc:hover {
  color: #d35400;
}

.todo-list {
  margin: 40px;
}

.todo li {
  background-color: #f1c40f;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
}

.text-span {
  text-align: left;
}

.time-span {
  border-radius: 5px;
  background-color: #f39c12;
  margin-right: 10px;
  padding: 5px;
}
